<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CartExtractorTestSite-20151023032716.mdf;Initial Catalog=aspnet-CartExtractorTestSite-20151023032716;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- CartExtractor Settings -->
    <!-- add key="ApprovedDashIPs" value="100.71.60.129,68.118.161.138,168.61.68.30,168.62.218.64,10.76.98.178,173.164.102.62,50.139.24.123,98.246.205.191,24.21.227.189,137.118.202.173,65.52.112.216,65.52.113.156,65.52.115.11,98.246.155.212,76.2.5.207,71.38.128.191"/ -->
    <add key="ApprovedDashIPs" value="65.52.113.156,98.246.205.191,168.61.69.219,168.62.5.189,168.62.194.77"/>
    <add key="GoogleRange" value="66.249.64,66.249.95"/>
    <add key="LogSource" value="Boost3"/>
    <add key="IsDataLogSlave" value="false"/>
    <!-- add key="DataMasterIp" value="168.61.73.97:81"/ -->
    <!-- add key="DataMasterIp" value="stage.4-tell.net"/ -->
    <add key="SaveLocal" value="true"/>
    <add key="UploadRemote" value="false"/>
    <add key="BoostServerAddress" value="http://localhost/Boost2.0/rest/"/>
    <add key="ExtractTimerEnabled" value="false"/>
    <add key="MaxConcurrentExports" value="3"/>
    <!-- Boost Service Settings -->
    <add key="WebServiceAddress" value="http://localhost/Boost2.0/rest/"/>
    <add key="EmailServiceAddress" value="http://email.4-tell.net:8080/Boost/"/>
    <add key="ShopperActivityServiceAddress" value="http://4tellsa.cloudapp.net/Boost/"/>
    <!-- DataPathSubfolder overrides default 4-Tell subfolder (useful for parallel installations)-->
    <add key="DataPathSubfolder" value="4-Tell2.0"/>
    <!-- FullDataPath would override entire data path (DataPathSubfolder is ignored)
    <add key="FullDataPath" value="C:\MyDataFolder\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- RedundantServerCount tells the system how many redundant servers there are 
	  including the current installation (i.e 1 = no redundant).
	  Each server is connected on a private network with IP addresses on that
	  network listed below as ServerAddress1, ServerAddress2, etc.
	  The 4-Tell directories of each redundant server will be mapped to a drive 
	  on the current server starting with drive Z and working backwards-->
    <add key="RedundantServerCount" value="0"/>
    <!-- add key="ServerAddress1" value="stage.4-tell.net"/>
    <add key="ServerAddress1" value="localhost"/ -->
    <add key="ServiceCallDetailsLogPath" value="E:\TransactionArchive\"/>
    <!--add key="BoostVersion" value="2.0"/-->
    <add key="BoostVersion" value="2.0"/>
    <add key="ReplicationUser" value="4-tell"/>
    <add key="ReplicationPassword" value="2predict!"/>
    <!-- LogFrequency writes our the current usage data to a file and the event log-->
    <add key="LogFrequency" value="5"/>
    <add key="ReplicateSalesLog" value="false"/>
    <add key="ReplicateClickLog" value="false"/>
    <!-- The following will set the address and password for sending emails -->
    <add key="GmailUsername" value="BoostStage1@4-tell.net"/>
    <add key="GmailPassword" value="2predict"/>
    <add key="GmailToAdress" value="neil@4-tell.com"/>
    <add key="ServerId" value="LocalBoostDebug"/>
    <!-- ReportLevel - Possible values (in decreasing order) are All, Information, Warning, Error, None-->
    <add key="AdminReportLevel" value="Error"/>
    <add key="CustomerReportLevel" value="None"/>
    <!-- LogBlockList is a CSV list of clientAliases not to log. Use this temporarily if one client is over filling the log-->
    <add key="LogBlockList" value="SmileyCo,HistBoar,DirectLM,Swagge,Vitamins,GoMamaGo,Discount,corvette,OrchardC,Angelic,AceTool"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
	<add namespace="System.Web.Optimization"/>
	<add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
	<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
	<!--
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
	-->
	<clear/>
      </providers>
    </membership>
    <profile>
      <providers>
	<!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
	-->
	<clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
		ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
	-->
      <providers>
	<clear/>
      </providers>
    </roleManager>
    <!--
	    If you are deploying to a cloud environment that has multiple web server instances,
	    you should change session state mode from "InProc" to "Custom". In addition,
	    change the connection string named "DefaultConnection" to connect to an instance
	    of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
	<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
	<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
	<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
	<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
	<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
	<parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
	<binding name="cartAPIAdvancedSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.3dcart.com/cart_advanced.asmx" binding="basicHttpBinding" bindingConfiguration="cartAPIAdvancedSoap" contract="ws_3dCartApi.cartAPIAdvancedSoap" name="cartAPIAdvancedSoap"/>
    </client>
  </system.serviceModel>
</configuration>
